@import url(variables.css);
* {
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, var(--color3), var(--color2));
    background-size: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2rem;
    min-height: 25vh;
    width: 100%;
}

.perfil h1 {
    color: var(--color1);
    letter-spacing: 0.20rem;
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 480px;
}

#fecha {
    color: var(--color1);
    padding: 50px 0 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agregar-tarea {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}

.agregar-tarea input {
    padding: 10px;
    font-size: 20px;
    border: none;
    max-width: 500px;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgb(26, 25, 25);
    color: white;
}

.button {
    padding: 12px;
    border: none;
    font-size: 17px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 100px;
}

.button:hover {
    cursor: pointer;
}

#lista-tareas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
}

.lista {
    min-width: 25%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px; /* Adjust this value to move the list to the right */
}

.items_list {
    color: var(--color1);
    margin: 1rem;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em;
    border-radius: 30px;
    background: rgb(41, 33, 33);
    width: 80%; /* Adjust the width to control the size of the list items */
}

.items_list li {
    padding: 7px;
    font-size: 20px;
    flex: 1;
    border-radius: 30px;
    overflow-wrap: anywhere;
    text-align: center; /* Center the text inside the list item */
}

.lista {
    padding: 0rem 0.5rem;
}
